﻿@model GoTravelABit2.Models.Checklist

<h3>Checklist Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Checklists", "Index")
</p>

<h3>Checklist items:</h3>
<p>
    @Html.ActionLink("Add an Item", "Create", "CheckItems", new { id = Model.Id}, null)
  </p>

<table class="table">
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                if (ViewBag.Page > 1)
                {
                    <input type="hidden" name="Page" value="@(ViewBag.Page-1)" />
                    <input type="hidden" name="Size" value="@ViewBag.Size" />
                    <b><a class="a-submit">&lt;</a></b>
                }
                else
                {
                    <b>&lt;</b>
                }
            }
        </td>
        <td>|</td>
        <td>
            @using (Html.BeginForm())
            {
                if (ViewBag.Page < ViewBag.Pages)
                {
                    <input type="hidden" name="Page" value="@(ViewBag.Page+1)" />
                    <input type="hidden" name="Size" value="@ViewBag.Size" />
                    <b><a class="a-submit">&gt;</a></b>
                }
                else
                {
                    <b>&gt;</b>
                }

            }
        </td>
    </tr>
</table>
@*<ul>
    @foreach (var i in ViewBag.CheckItems)
    {
        <li>@i.Item_Name |  @Html.ActionLink("Move up", "MoveUp", new { id = i.Id }) | @Html.ActionLink("Move down", "MoveDown", new { id = i.Id }) | @Html.ActionLink("Edit", "Edit", "CheckItems", new { id = i.Id }, null) | @Html.ActionLink("Delete", "Delete", "CheckItems", new { id = i.Id }, null)|</li>
    }
</ul>*@