﻿@model GoTravelABit2.Models.Trip

<br>
<img src="~/Content/Website Images/deletetrip.png" style="width:95%; height:auto; border-radius:8px; height:auto;" alt="My Trips">
<br />

<h3>Are you sure you want to delete this trip?</h3>
<div>
    <hr />
    <div class="text-danger">
        <p>@TempData["Message"]</p>
    </div>
     <dl class="dl-horizontal">
        <dt>
            @if (Model.Start != null)
            {
                @Html.DisplayNameFor(model => model.Start)
            }
        </dt>

        <dd>
            @if (Model.Start != null)
            {
                @Html.DisplayFor(model => model.Start)
            }
        </dd>

        <dt>
            @if (Model.End != null)
            {
                @Html.DisplayNameFor(model => model.End)
            }
        </dt>

        <dd>
            @if (Model.End != null)
            {
                @Html.DisplayFor(model => model.End)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @if (Model.Description != null)
            {
                @Html.DisplayNameFor(model => model.Description)
            }
        </dt>

        <dd>
            @if (Model.Description != null)
            {
                @Html.DisplayFor(model => model.Description)
            }
        </dd>

        <dt>
            @Html.DisplayName("Trip Owner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 170px">
            <input type="submit" value="Delete" class="btn btn-nupp" /> &emsp;
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "nupp" })
        </div>
    }
</div>
