﻿@model GoTravelABit2.Models.Trip

@{
    ViewBag.Title = "Details";
}
<br>
<br />
<img src="~/Content/Website Images/tripdetails.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="My Trips">
<br><br>

@foreach (var f in Model.Files)
{
    <img src="@Url.Action("Content", "Files", new { id = f.Id})" height="100" id="picture" />

}

<hr>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Trip Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt type="multilinetext">
            @if (Model.Description != null)
            {
                @Html.DisplayNameFor(model => model.Description)
            }
        </dt>

        <dd>
            @if (Model.Description != null)
            {
                @Html.DisplayFor(model => model.Description)
            }
        </dd>

        <dt>
            @if (Model.Start != null)
            {
                @Html.DisplayName("Start Date")
            }
        </dt>

        <dd>
            @if (Model.Start != null)
            {
                @Html.DisplayFor(model => model.Start)
            }
        </dd>

        <dt>
            @if (Model.End != null)
            {
                @Html.DisplayName("End Date")
            }
        </dt>

        <dd>
            @if (Model.End != null)
            {
                @Html.DisplayFor(model => model.End)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>

            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayName("Trip Owner")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

    </dl>
</div>
<p style="margin-left: 180px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "nupp" }) &ensp;  &ensp;
  
    @Html.ActionLink("Back to Trips", "Index", null, htmlAttributes: new { @class = "nupp" })
</p>

<hr>
<img src="~/Content/Website Images/travelbuddies.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="My Trips">
<br /><br />
<br>

<form action="/Trips/AddMember" method="post">
    <input placeholder="Email of the travel buddy" type="text" id="memberEmail" name="memberEmail" value="">
    <input type="hidden" value="@Model.Id" name="Id" style="nupp" />
    <input type="submit" value="Add Friend">
    <p class="text-danger"> @TempData["Message"]</p>
</form>


<table>
    @foreach (var x in Model.Attendees.Select(f => new { f.Id, f.PersonId, f.TripId, f.Person}))
    {
   <tr>
       <td>
        @x.Person.FullName
        </td>
       @*<td>
            @Html.ActionLink("RemoveMember", "RemoveMember", "Trip", new { id = x.PersonId, trip = Model.Id })
       </td>*@
    </tr>
    }
</table>

<br>
<hr />
<br />
<img src="~/Content/Website Images/listtripitems.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="My Trips">
<br /><br />
<p>
    @Html.ActionLink("Add Destination", "Create", "TripItems", new { id = Model.Id, type = 1 }, null) |
    @Html.ActionLink("Add Accommodation", "Create", "TripItems", new { id = Model.Id, type = 2 }, null) |
    @Html.ActionLink("Add Activity", "Create", "TripItems", new { id = Model.Id, type = 6 }, null) &ensp;&ensp; |
    @Html.ActionLink("View Trip Items Detail Table", "Index", "TripItems", new { id = Model.Id }, null)
</p>


<table class="table">
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                if (ViewBag.Page > 1)
                {
                    <input type="hidden" name="Page" value="@(ViewBag.Page-1)" />
                    <input type="hidden" name="Size" value="@ViewBag.Size" />
                    <b><a class="a-submit">&lt;</a></b>
                }
                else
                {
                    <b>&lt;</b>
                }
            }
        </td>
        <td>|</td>
        <td>
            @using (Html.BeginForm())
            {
                if (ViewBag.Page < ViewBag.Pages)
                {
                    <input type="hidden" name="Page" value="@(ViewBag.Page+1)" />
                    <input type="hidden" name="Size" value="@ViewBag.Size" />
                    <b><a class="a-submit">&gt;</a></b>
                }
                else
                {
                    <b>&gt;</b>
                }

            }
        </td>
    </tr>
</table>
<table>
    <col width="25">
    <col width="75">
    <col width="100">
    <col width="75">
    <col width="150">
    <col width="150">
    <col width="300">


    @foreach (var i in ViewBag.Items)
    {
        <tr>
            <td>
                @i.Nr
            </td>

            <td>
                @i.TypeName
            </td>
            <td>
                @if (i.Date == null)
                {@i.CheckInDate }
            else
            { @i.Date}

            </td>
            <td>
                @i.Name
            </td>
            <td>
                @i.Location

            </td>
            <td>
                @i.ToLocation

            </td>
            <td align="center">
                @if (i.Prize != null)
                {@i.Prize<i>&nbsp;€</i>}
            </td>
            <td>
                @Html.ActionLink("Move up", "MoveUp", new { id = i.Id })
                | @Html.ActionLink("Move down", "MoveDown", new { id = i.Id })
                | @Html.ActionLink("Edit", "Edit", "TripItems", new { id = i.Id }, null)
                | @Html.ActionLink("Delete", "Delete", "TripItems", new { id = i.Id }, null)
                | @Html.ActionLink("Details", "Details", "TripItems", new { id = i.Id }, null)
            </td>
        </tr>}
</table>



<div>
    <dt>

    </dt>
</div>