﻿@model IEnumerable<GoTravelABit2.Models.Trip>

<br />
<img src="~/Content/Website Images/Copy of Copy of gotravelabit (1).png" style="width:100%; height:auto; border-radius:8px; height:auto;" alt="My Trips">
<br /><br />
@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class="nupp"})


<table class="table">
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                <input type="hidden" name="sort" value="@ViewBag.Sort" />
                <input type="hidden" name="direction" value="@ViewBag.Direction" />

                <input type="hidden" name="page" value="@(ViewBag.Page-1)" />
                <input type="hidden" name="pagesize" value="@ViewBag.PageSize" />

                if (ViewBag.Page > 1)
                {
                    <b><a class="a-submit">&lt;</a></b>
                }
                else
                {
                    <b>&lt;</b>
                }
            }
        </td>
        <td>|</td>
        <td>

            @*@using (Html.BeginForm("Index", "Trips", FormMethod.Post, htmlAttributes: new { id = "previous" }))*@
            @using (Html.BeginForm())
            {
                <input type="hidden" name="sort" value="@ViewBag.Sort" />
                <input type="hidden" name="direction" value="@ViewBag.Direction" />

                <input type="hidden" name="page" value="@(ViewBag.Page+1)" />
                <input type="hidden" name="pagesize" value="@ViewBag.PageSize" />

                if (ViewBag.Page < ViewBag.Pages)
                {
                    <b><a class="a-submit">&gt;</a></b>
                }
                else
                {
                    <b>&gt;</b>
                }

            }
        </td>
    </tr>
</table>

<table class="table">
    <tr style="color:#ff5c5c">
        <th>
            @Html.DisplayName("Trip Picture")
        </th>

        <th>
            @using (Html.BeginForm())
        {
            <input type="hidden" name="sort" value="Trip Start Date" />
            <input type="hidden" name="direction" value="@(ViewBag.Direction!="descending" && ViewBag.Sort == "Trip Start Date"?"descending":"ascending")" />
            <b><a class="a-submit">@Html.DisplayName("Trip Start Date")</a></b>
        }
        </th>

        <th>
            @Html.DisplayName("Trip End Date")
        </th>
        <th>
            @Html.DisplayName("Trip Name")
        </th>
        <th style="width:200px;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @using (Html.BeginForm())
        {
            <input type="hidden" name="sort" value="State" />
            <input type="hidden" name="direction" value="@(ViewBag.Direction!="descending" && ViewBag.Sort == "State"?"descending":"ascending")" />
            <b><a class="a-submit">@Html.DisplayNameFor(model => model.State)</a></b>
    }
        </th>
        <th>
            @Html.DisplayName("Trip Owner")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    
    <tr>
        <td>
            <img src="@Url.Action("Content", "Files",  new {id = item.Files.FirstOrDefault()?.Id??0})" height=" 100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
            <td maxlength="20" style="white-space: nowrap; max-width:200px; max-height:300px; overflow:hidden; text-overflow:ellipsis;">
                @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit Trip", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Trip Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
     }

</table>
