﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Go Travel a Bit</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="container">
        @RenderBody()

        <nav class="navbar navbar-inverse navbar-fixed-top">
            @Html.ActionLink("GoTravelaBit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <img src="~/Content/Website Images/gtab.png" class="img-circle" height="68" width="77" />


                </div>
            </div>


            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="navbar-link" href="http://localhost:60189/">Home</a>
                        </li>
                        @Html.Partial("_LoginPartial")

                        @if (Request.IsAuthenticated)
                        {
                            <div>
                                <ul class="nav nav-pills">
                                    <li><a href="http://localhost:60189/Trips/">My Trips</a></li>
                                    <li><a href="http://localhost:60189/People/Details">My Details</a></li>
                                </ul>
                            </div>
                        }
                </div>
            </div>
        </nav>
        <br>
        <div class="container body-content">
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-collapse collapse">
                            <ul class="nav nav-pills">

                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6"> </div>
                    <div class="col-md-3">
                        <p><h4>&copy; @DateTime.Now.Year - GoTravelABit</h4></p>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

        <script src="~/Content/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="~/Content/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
        <link rel="stylesheet" href="/resources/demos/style.css">

        <div id="datepicker"></div>

        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    showTimepicker: false,
                    showOn: "button",
                    buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                    buttonImageOnly: true,
                    buttonText: "Select date",
                    closeText: "Close",
                    prevText: "Previous",
                    //showOtherMonths: true,
                    showButtonPanel: true,
                    dateFormat: "dd.mm.yy",
                    timeFormat: "hh:mm tt",
                    yearRange: '1920:2025',
                    firstDay: 1,
                    changeMonth: true,
                    changeYear: true,
                    //minDate: new Date(),
                    //maxDate: new Date()

                });

                $('.a-submit').click(
                    function () {
                        //$(this).closest('form').submitForm();
                        $(this).parents('form').submit();
                    }
                );


            });
        </script>

        <script>


        </script>

        @*<script>
                /* Estonian initialisation for the jQuery UI date picker plugin. */
                /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
                (function (factory) {
                    if (typeof define === "function" && define.amd) {
                        // AMD. Register as an anonymous module.
                        define(["../widgets/datepicker"], factory);
                    } else {
                        // Browser globals
                        factory(jQuery.datepicker);
                    }
                }(function (datepicker) {
                    datepicker.regional.et = {
                        closeText: "Sulge",
                        prevText: "Eelnev",
                        nextText: "Järgnev",
                        currentText: "Täna",
                        monthNames: ["Jaanuar", "Veebruar", "Märts", "Aprill", "Mai", "Juuni",
                            "Juuli", "August", "September", "Oktoober", "November", "Detsember"],
                        monthNamesShort: ["Jaan", "Veebr", "Märts", "Apr", "Mai", "Juuni",
                            "Juuli", "Aug", "Sept", "Okt", "Nov", "Dets"],
                        dayNames: [
                            "Pühapäev",
                            "Esmaspäev",
                            "Teisipäev",
                            "Kolmapäev",
                            "Neljapäev",
                            "Reede",
                            "Laupäev"
                        ],
                        dayNamesShort: ["Pühap", "Esmasp", "Teisip", "Kolmap", "Neljap", "Reede", "Laup"],
                        dayNamesMin: ["P", "E", "T", "K", "N", "R", "L"],
                        weekHeader: "näd",
                        dateFormat: "dd.mm.yy",
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: ""
                    };
                    datepicker.setDefaults(datepicker.regional.et);
                    return datepicker.regional.et;
                }));
            </script>*@

</body>
</html>
