﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @{
        GoTravelABit2.Models.ApplicationDbContext db = new GoTravelABit2.Models.ApplicationDbContext();
        string userName = User.Identity.GetUserName();
        string displayName = db.Users.Where(x => x.Email == userName).SingleOrDefault()?.DisplayName ?? "Unknown";
    }

    <li>
     @Html.ActionLink("Hi, " + displayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
