﻿<h2 style="color:crimson">About GoTravelaBit.com</h2>

<head>

</head>
<body>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <style>
        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 16px;
        }

        .container {
            padding: 0 16px;
            border-radius: 2px;
        }

            .container::after, .row::after {
                content: "";
                clear: both;
                display: table;
            }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            margin-bottom: 2px;
        }

            .button:hover {
                background-color: #555;
            }
    </style>
    <style type="text/css">
        a.mybtn1 {
            background: rgba(255, 92, 92, 0.60);
            color: dimgrey;
            display: inline-block;
            padding: 14px 28px 14px 28px;
            font-size: 17px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 12px;
            align-items: center;
        }
    </style>

    <br />
    <img src="~/Content/Website Images/translucent.png" style="width:97%; border-radius:8px; height:auto;" alt="Logo">

    <div class="row">
        <div class="col-md-6">
            <h3 style="color:crimson">Our Mission</h3>
            <p>
                Make the travel planning process fun, easy, and interactive. You don't need to waste your precious nerve cells
                when planning a family vacation or a fun weekend outing with friends. As keen travellers ourselves, we are here to meet your needs.
            </p>
        </div>

        <div class="col-md-6">
            <h3 style="color:crimson">Our Story</h3>
            <p>
                First, there was the world. Then, there were four adventurous girls who wanted to travel the world.
                They wanted to travel light, not to drag heavy folders, full of A4 sheets with all the necessary trip info contained inside.
                They needed a tool that would store all the vital details. Simply put, they built this web application.
            </p>
        </div>
    </div>

    <br>
    <img src="~/Content/Website Images/riba.jpg" style="opacity:0.35; width:100%" alt="Strip" />
    <br>
    <div>
        <h2 align="center" style="color:crimson; font-weight:600;">Our Team</h2><br />
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/Website Images/profile.png" alt="Profile image" style="width:65%">
                    <div class="container" style="text-align:center">
                        <h3 style="color:crimson">Maret Mihklepp</h3>
                        <p class="title">Founder</p>
                        <p>Description goes here. It should be a few lines long for a better effect.</p>
                        <p>maret@gtb.com</p>
                        <a href="mailto:maret@gtb.com" class="btn mybtn1">Contact</a>
                    </div><br>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/Website Images/profile.png" alt="Profile image" style="width:65%">
                    <div class="container" style="text-align:center">
                        <h3 style="color:crimson">Jaanika Kaaring</h3>
                        <p class="title">Founder</p>
                        <p>Describe yourself. It should be a few lines long for a better effect.</p>
                        <p>jaanika@gtb.com</p>
                        <a href="mailto:jaanika@gtb.com" class="btn mybtn1">Contact</a>
                    </div><br>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/Website Images/profile.png" alt="Profile image" style="width:65%">
                    <div class="container" style="text-align:center">
                        <h3 style="color:crimson">Saskia Sonnberg</h3>
                        <p class="title">Founder</p>
                        <p>Describe yourself. It should be a few lines long for a better effect.</p>
                        <p>saskia@gtb.com</p>
                        <a href="mailto:saskia@gtb.com" class="btn mybtn1">Contact</a>
                    </div><br>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="~/Content/Website Images/profile.png" alt="Profile image" style="width:65%">
                    <div class="container" style="text-align:center">
                        <h3 style="color:crimson">Silja Jürs</h3>
                        <p class="title">Founder</p>
                        <p>Put your description here. It should be a few lines long for a better effect.</p>
                        <p>silja@gtb.com</p>
                        <a href="mailto:silja@gtb.com" class="btn mybtn1">Contact</a>
                    </div><br>
                </div>
            </div>
        </div>
        <br><br>

    </div>
</body>
