﻿<br />
<img src="~/Content/Website Images/contact.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="Contact page"><br />
<h3><strong>Visit us at:</strong></h3>

<address>
    Lõõtsa 8<br />
    Tallinn, 11415<br />
    Phone: +372 555 555
</address><br />

<img src="~/Content/Website Images/message.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="Message"><br><br />
<form action="mailto:info@gtb.com" method="post" enctype="text/plain">
    <label for="fname">Your Name</label><br>
    <input type="text" id="fname" name="firstname"><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="subject">Message</label><br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px;"></textarea><br>
    <input class="btn nupp" type="submit" value="Send">
    <input class="btn nupp" type="reset" value="Reset">
</form>

<style type="text/css">
    text.mybtn2 {
        background: rgba(255, 92, 92, 0.60);
        color: dimgrey;
        display: inline-block;
        padding: 10px 20px 10px 20px;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 12px;
        align-items: center;
    }

    input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
</style>

