﻿@{
    ViewBag.Title = "Home Page";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-wrap="false">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Website Images/1.jpg" alt="Mountain Views">
        </div>

        <div class="item">
            <img src="~/Content/Website Images/2.jpg" alt="Rice fields">
        </div>

        <div class="item">
            <img src="~/Content/Website Images/3.jpg" alt="London">
        </div>

        <div class="item">
            <img src="~/Content/Website Images/gtbveni.png" alt="GTAB Logo">
        </div>
    </div>

    @if (Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Plan Your Trip</h2>
                <p class="text-center">Easily create and manage your travel plans. 
                Name your trip, set the dates, write a description, add trip items: stops, accommodation, and activities. 
                You can also share the trip with your friends. All just a click away, just click on the Start Planning button below.</p>
                <p class="text-center">
                    @Html.ActionLink("Start Planning", "Create", "Trips",
                                                                                     null, htmlAttributes: new { @class = "mybtn" })
                </p>
                <style type="text/css">
                    a.mybtn {
                        background: rgba(255, 92, 92, 0.40);
                        color: #545454;
                        display: inline-block;
                        padding: 18px 36px 18px 36px;
                        font-size: 22px;
                        font-weight: bold;
                        text-decoration: none;
                        border-radius: 12px;
                        align-items: center;
                    }
                </style>
            </div>
           
            <div class="col-md-6">
                <h2 class="text-center">Manage Your Trips</h2>
                <p class="text-center">Add pictures to your trips, invite friends, edit and remove trip items when your plans change.
                Click the button below to go to your trips section where you can view and edit details or even delete the trip if you no longer want it.</p>
                <p class="text-center">
                    @Html.ActionLink("My Trips", "Index", "Trips",
                                                                                            null, htmlAttributes: new { @class = "mybtn" })
                </p>
            </div>
        </div>
    }

    else
    {

        <div class="col-md-4">
            <h2>Plan your trip</h2>
            <p>Easily create and manage your travel plans. Name your trip, set the dates, write a description, add trip items: stops, accommodation, adn activities. You can also share the trip with your friends and family. Register or log in to access the trip planner.</p>
        </div>

        <div class="col-md-4">
            <h2>Add checklists</h2>
            <p>What to bring on a trip? Do you always pack the same stuff? You can organise everything into checklists that you can effortlessly attach to you trip. Use our default checklists or create your own. Register or log in to access the checklists.</p>
            <p>
                @Html.ActionLink("Register", "Register", "Account",
                                                         null, htmlAttributes: new { @class = "mybtn" })
            </p>
            <style type="text/css">
                a.mybtn {
                    background: rgba(255, 92, 92, 0.40);
                    color: #545454;
                    display: inline-block;
                    padding: 18px 36px 18px 36px;
                    font-size: 22px;
                    font-weight: bold;
                    text-decoration: none;
                    border-radius: 12px;
                    align-items:center;
                }
            </style>
        </div>

        <div class="col-md-4">
            <h2>Calculate the costs</h2>
            <p>How much money should you set aside for your dream vacation? Or a short weekend break? Include costs with each trip item and let the calculator add them up for you. Register or log in to calculate and view your trip costs.</p>
        </div>
    }

