﻿@model GoTravelABit2.Models.TripItem

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "TripItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @switch (Model.Type)
    {
        case 1:
            <br>
            <br />
            <img src="~/Content/Website Images/destination.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="Destination">
            <br />
            <h3><b>Where are you heading to?</b></h3>
            break;
        case 2:
            <br>
            <br />
            <img src="~/Content/Website Images/accommo.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="Accommodation">
            <br /><br />
            <h3><b>Where are you staying at?</b></h3>
            break;
        case 6:
            <br>
            <br />
            <img src="~/Content/Website Images/activity.png" style="width:90%; height:auto; border-radius:8px; height:auto;" alt="Activity">
            <br /><br />
            <h3><b>What have you planned?</b></h3>
            break;
    }

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-danger">@ViewBag.TripItemDateError</p>

    @*<div class="form-group">
            @Html.LabelFor(model => model.TripId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TripId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TripId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @Html.HiddenFor(model => model.TripId)

    @*<div class="form-group">
            @Html.LabelFor(model => model.Nr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nr, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @Html.HiddenFor(model => model.Nr)

    @*<div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>*@
    @Html.HiddenFor(Model => Model.Type)


    <div class="form-group">
        @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Location", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>


    @switch (Model.Type)
    {
        case 1:

            <div class="form-group">
                @Html.Label("To Location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ToLocation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ToLocation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Transport", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Wessel", null, "Choose transport", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Wessel, "", new { @class = "text-danger" })
                </div>
            </div>


            break;
        case 2:

            <div class="form-group">
                @Html.Label("Hotel Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hotel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hotel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Check-In Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control datepicker", id = "start", @type = "string", onchange = "change('start', 'stop', 'delta')" } })
                    @Html.ValidationMessageFor(model => model.CheckInDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Check-Out Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control datepicker", id = "stop", @type = "string", onchange = "change('start', 'stop', 'delta')" } })
                    @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.Label("No of Nights", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", id = "delta", @disabled = "disabled" } })
                   @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            @Html.HiddenFor(model => model.Duration)

            @*<script src="~/Scripts/jquery-1.10.2.js"></script>

            <script>
                function change(sta, sto, del) {
                    var start = dateparse($("#" + sta).val());
                    var stop = dateparse($("#" + sto).val());
                    $("#" + del).val(parseInt((stop - start) / (3600 * 24000)));

                }
                function dateparse(str) {
                    var d = Date.parse(str);
                    if (d) return d;
                    var parts = str.split('.');
                    return new Date(parts[2], parts[1], parts[0]);
                }
            </script>*@

            break;
        case 6:

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Start Time", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Desscription, new { style = "width:400px; height:100px", @class = "form-control", @placeholder = "What's the exact plan?" })
                    @Html.ValidationMessageFor(model => model.Desscription, "", new { @class = "text-danger" })
                </div>
            </div>

            break;

    }




    <div class="form-group">
        @Html.Label("Price (€)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Prize, new { htmlAttributes = new { @class = "form-control", @placeholder = "Price in Euros (€)" } })
            @Html.ValidationMessageFor(model => model.Prize, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Comment, new { style = "width:400px; height:100px", @class = "form-control", @placeholder = "Anything else to add?" })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label for="file" class="control-label col-md-2" style="margin-left:38px">Add file:</label>
            <input type="file" name="file" id="file" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-nupp" />
        </div>
    </div>
</div>
    }

<div>
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "nupp" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
