﻿@model GoTravelABit2.Models.TripItem

<br />
<img src="~/Content/Website Images/deleteitem.png" style="width:95%; height:auto; border-radius:8px; height:auto;" alt="Delete Item">
<br />

<h3>Are you sure you want to delete this trip item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Trip Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr)
        </dd>

        <dt>
            @if (Model.Date != null)
            {
                @Html.DisplayNameFor(model => model.Date)
            }
        </dt>

        <dd>
            @if (Model.Date != null)
            {
                @Html.DisplayFor(model => model.Date)
            }
        </dd>

        <dt>
            @if (Model.StartTime != null)
            {
                @Html.DisplayName("Start Time")
            }
        </dt>

        <dt>
            @if (Model.StartTime != null)
            {
                @Html.DisplayFor(model => model.StartTime)
            }
        </dt>

        <dt>
            @if (Model.Prize != null)
            {
                @Html.DisplayName("Price")
            }
        </dt>

        <dd>
            @if (Model.Prize != null)
            {
                @Html.DisplayFor(model => model.Prize)
            }
        </dd>

        <dt>
            @if (Model.Type != null)
            {
                @Html.DisplayNameFor(model => model.Type)
            }
        </dt>

        <dd>
            @if (Model.Type != null)
            {
                @Html.DisplayFor(model => model.TypeName)
            }
        </dd>

        <dt>
            @if (Model.Wessel != null)
            {
                @Html.DisplayName("Transport")
            }
        </dt>

        <dd>
            @if (Model.Wessel != null)
            {
                @Html.DisplayFor(model => model.VesselName)
            }
        </dd>

        <dt>
            @if (Model.Location != null)
            {
                @Html.DisplayNameFor(model => model.Location)
            }
        </dt>

        <dd>
            @if (Model.Location != null)
            {
                @Html.DisplayFor(model => model.Location)
            }
        </dd>

        <dt>
            @if (Model.ToLocation != null)
            {
                @Html.DisplayName("To Location")
            }
        </dt>

        <dd>
            @if (Model.ToLocation != null)
            {
                @Html.DisplayFor(model => model.ToLocation)
            }
        </dd>

        <dt>
            @if (Model.Hotel != null)
            {
                @Html.DisplayNameFor(model => model.Hotel)
            }
        </dt>

        <dd>
            @if (Model.Hotel != null)
            {
                @Html.DisplayFor(model => model.Hotel)
            }
        </dd>

        <dt>
            @if (Model.Duration != null)
            {
                @Html.DisplayNameFor(model => model.Duration)
            }
        </dt>

        <dd>
            @if (Model.Duration != null)
            {
                @Html.DisplayFor(model => model.Duration)
            }
        </dd>

        <dt>
            @if (Model.CheckInDate != null)
            {
                @Html.DisplayName("Check-In Date")
            }
        </dt>

        <dd>
            @if (Model.CheckInDate != null)
            {
                @Html.DisplayFor(model => model.CheckInDate)
            }
        </dd>
        <dt>
            @if (Model.CheckOutDate != null)
            {
                @Html.DisplayName("Check-Out Date")
            }
        </dt>

        <dd>
            @if (Model.CheckOutDate != null)
            {
                @Html.DisplayFor(model => model.CheckOutDate)
            }
        </dd>

        <dt>
            @if (Model.Name != null)
            {
                @Html.DisplayNameFor(model => model.Name)
            }
        </dt>

        <dd>
            @if (Model.Name != null)
            {
                @Html.DisplayFor(model => model.Name)
            }
        </dd>

        <dt>
            @if (Model.Desscription != null)
            {
                @Html.DisplayName("Description")
            }
        </dt>

        <dd>
            @if (Model.Desscription != null)
            {
                @Html.DisplayFor(model => model.Desscription)
            }
        </dd>

        <dt>
            @if (Model.Comment != null)
            {
                @Html.DisplayNameFor(model => model.Comment)
            }
        </dt>

        <dd>
            @if (Model.Comment != null)
            {
                @Html.DisplayFor(model => model.Comment)
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-nupp" />
            @Html.ActionLink("Back to List", "Details", "Trips", null, htmlAttributes: new { @class = "nupp", id = Model.TripId })
        </div>
    }
</div>
