﻿@model GoTravelABit2.Models.TripItem

<br />
<img src="~/Content/Website Images/itemdetails.png" style="width:95%; height:auto; border-radius:8px; height:auto;" alt="My Trips">


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Trip Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nr)
        </dd>

        <dt>
            @if (Model.Date != null)
            {
                @Html.DisplayNameFor(model => model.Date)
            }
        </dt>

        <dd>
            @if (Model.Date != null)
            {
                @Html.DisplayFor(model => model.Date)
            }
        </dd>

        <dt>
            @if (Model.StartTime != null)
            {
                @Html.DisplayName("Start Time")
            }
        </dt>

        <dd>
            @if (Model.StartTime != null)
            {
                @Html.DisplayFor(model => model.StartTime)
            }
        </dd>

        <dt>
            @if (Model.Prize != null)
            {
                @Html.DisplayName("Price (€)")
            }
        </dt>

        <dd>
            @if (Model.Prize != null)
            {
                @Html.DisplayFor(model => model.Prize)
            }
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>*@
        @Html.HiddenFor(model => model.Type)

        <dt>
            @if (Model.Wessel != null)
            {
                @Html.DisplayName("Transport")
            }
        </dt>

        <dd>
            @if (Model.Wessel != null)
            {
                @Html.DisplayFor(model => model.VesselName)
            }
        </dd>

        <dt>
            @if (Model.Location != null)
            {
                @Html.DisplayName("From")
            }
        </dt>

        <dd>
            @if (Model.Location != null)
            {
                @Html.DisplayFor(model => model.Location)
            }
        </dd>

        <dt>
            @if (Model.ToLocation != null)
            {
                @Html.DisplayName("To")
            }
        </dt>

        <dd>
            @if (Model.ToLocation != null)
            {
                @Html.DisplayFor(model => model.ToLocation)
            }
        </dd>

        <dt>
            @if (Model.Hotel != null)
            {
                @Html.DisplayNameFor(model => model.Hotel)
            }
        </dt>

        <dd>
            @if (Model.Hotel != null)
            {
                @Html.DisplayFor(model => model.Hotel)
            }
        </dd>

        <dt>
            @if (Model.CheckInDate != null)
            {
                @Html.DisplayName("Check-In Date")
            }
        </dt>

        <dd>
            @if (Model.CheckInDate != null)
            {
                @Html.DisplayFor(model => model.CheckInDate)
            }
        </dd>

        <dt>
            @if (Model.CheckOutDate != null)
            {
                @Html.DisplayName("Check-Out Date")
            }
        </dt>

        <dd>
            @if (Model.CheckOutDate != null)
            {
                @Html.DisplayFor(model => model.CheckOutDate)
            }
        </dd>

        @*<dt>
            @if (Model.Duration != null)
        {
            @Html.DisplayNameFor(model => model.Duration)
    }
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @if (Model.Name != null)
            {
                @Html.DisplayNameFor(model => model.Name)
            }
        </dt>

        <dd>
            @if (Model.Name != null)
            {
                @Html.DisplayFor(model => model.Name)
            }
        </dd>

        <dt>
            @if (Model.Desscription != null)
            {
                @Html.DisplayName("Description")
            }
        </dt>

        <dd>
            @if (Model.Desscription != null)
            {
                @Html.DisplayFor(model => model.Desscription)
            }
        </dd>

        <dt>
            @if (Model.Comment != null)
            {
                @Html.DisplayNameFor(model => model.Comment)
            }
        </dt>

        <dd>
            @if (Model.Comment != null)
            {
                @Html.DisplayFor(model => model.Comment)
            }
        </dd>



    </dl>
</div>


<div>
    <ul>
        @foreach (var x in Model.Files.Select(f => new { f.Id, f.FileName, f.ContentType }))
        {


            if (x.ContentType.Contains("image"))
            {
                <li>

                    <img src="@Url.Action("Content", "Files", new { id = x.Id })" height="100" id="picture" />

                </li>
                <br />
            }
            else
            {

                <li>  @Html.ActionLink(x.FileName, "Content", "Files", new { id = x.Id }, null)  </li>
                <br />

            }


        }
    </ul>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "nupp"})
    @Html.ActionLink("Back to List", "Details", "Trips", null, htmlAttributes: new { @class = "nupp", id = Model.TripId })
</p>
