﻿@model IEnumerable<GoTravelABit2.Models.TripItem>

@{
    ViewBag.Title = "Index";
}
<br>
<h2><b>INDEX</b></h2>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Trip Id")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayName("Start Time")
        </th>
        <th>
            @Html.DisplayName("Price (€)")
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("Transport")
        </th>
        <th>
            @Html.DisplayName("From Location")
        </th>
        <th>
            @Html.DisplayName("To Location")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel)
        </th>
        <th>
            @Html.DisplayName("Check-In Date")
        </th>
        <th>
            @Html.DisplayName("Check-Out Date")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TripId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VesselName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOutDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desscription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>

        @*<td>
            @Html.ActionLink("Sisu", "Content", "File", new { id = item.Id }, null)
           @Html.ActionLink("Sisu", "Content", "File", new { id = item.Id, tripitem = Model.Id }, null)
        </td>*@


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        <td>
            @*see fail kuulub kasutajale: @(item?.Person.FullName??"Ei kuulu kellelegile")
            see fail on selliste reiside küljes
            @foreach (var t in item.Trips)
            {
                <p>@t.Name</p>
            }*@
        </td>
    </tr>
}

</table>
